.section {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #fff;
    margin-bottom: 1em;
}

.section :last-child {
    margin-bottom: 0;
}

.editable:not(.editing):hover {
    border-color: #d1d1d1;
}

.locked {
    border-color: #ececec;
    background: #d1d1d1;
}

body {

  font-family: 'Open Sans', sans-serif;
  background: url('img/grad_min.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

}

a {
  color: #00B7FF;
}

.inbl{
	display: inline-block;
}
#name{

}
#pw{

}

.fr{
  float: right;
}

#hi{
  text-align: center;
  font-weight: bolder;
  font-size: 2em;

}

.wid{
  width: 75%;
}

.mid{
  display: inline-block;
}
.clonebnb{
  padding-top: .2em;
  padding-right: 1em;
  font-size: 2em;
  font-weight: 700;

}
.red{
  color: #FF5B61;

  font-weight: 700;
}

.sm{
    font-size: .5em;
}
#logo{
  width: 90px;
  margin-top: -24px;
  height: auto;
}

.list{

}
.list_img{
  height: 250px;
  width: 250px;
  border-radius: 10px;
}

.list_img:hover{

}
.cl{
  opacity: .85;
}
textarea{ 
  max-width:75%; 
  height:200px; 
  min-height:200px;  

}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.card{
  padding: 50px;
  opacity: .85;
  border-radius:10px;
  background-color: white;
  
}