.section {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #fff;
    margin-bottom: 1em;
}

.section :last-child {
    margin-bottom: 0;
}

.editable:not(.editing):hover {
    border-color: #d1d1d1;
}

.locked {
    border-color: #ececec;
    background: #d1d1d1;
}

body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.inbl{
	display: inline-block;
}
#name{
  width:35%;
}
#pw{
  width: 35%;
}

.fr{
  float: right;
}

#hi{
  text-align: center;
  font-weight: bolder;
  font-size: 2em;
}

.wid{
  width: 75%;
}

#logo{
  width: 90px;
  margin-top: -24px;
  height: auto;
}

textarea{ 
  
  max-width:75%; 

  height:200px; 
  min-height:200px;  

}